[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 11.0

[submodule "R2GTX/kzm_accounting"]
	path = R2GTX/kzm_accounting
	url = git@github.com:R2GTX/kzm_accounting.git
	branch = master

[submodule "R2GTX/karizma_tools"]
	path = R2GTX/karizma_tools
	url = git@github.com:R2GTX/karizma_tools.git
	branch = master
